auto-install-peers=true
strict-peer-dependencies=false
shamefully-hoist=false
engine-strict=true
save-exact=false
package-manager-strict=true
recursive-install=true
prefer-frozen-lockfile=true
fund=false
audit=false
loglevel=warn
